/* Main Styling */
section {
  marigin-bottom: 100px; 
  padding: 20px 0;
}
section h2 {
  margin: 12px 10px;
  border-bottom: 1px solid grey;
}
/* Groups (Mobile) */
.group {
  display: flex;
  flex-direction: column; 
  margin-bottom: 100px;
}

/* Groups (Desktop) */
@media all and (min-width:400px) {
  section {
    padding: 0 10%;
    flex-direction: column;
    display: flex;
  }
}

/* Contact Form Design */

form {
  padding-right: 6px;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

form button {
  width: 75px
}